{
  "repeatAlreadySpokenOnStartup": false,
  
  "messages": {
    "provider": "ustream",
    "channelId": 39393939
  },

  //"speaker": {
  //  "provider": "mac",
  //  "voice": "Kyoko"
  //},

  //"speaker": {
  //  "provider": "robokoe",
  //  "executable": "C:\\Program Files (x86)\\miku_speak\\miku_speak.exe"
  //},

  "speaker": {
    "provider": "sapi",
    "voice": "Miku",
    "rate": 4, // -10 ~ +10
    "force32Bit": true
  },

  "substitutions": [
    {
      "provider": "regex",
      "inputType": "OTHER",
      "regex": "[wｗ]",
      "replacement": "わら",
      "outputType": "JAPANESE"
    },
    {
      "provider": "regex",
      "inputType": "OTHER",
      "regex": "[wｗ]{2,}",
      "replacement": "わらわら",
      "outputType": "JAPANESE"
    }
  ]

}
